<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/barterbuddy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/barterbuddy"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarterBuddy"
        tools:targetApi="31">
        <activity
            android:name=".activities.LoginPage"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateAccountPage"
            android:exported="false" />

        <activity
            android:name=".utils.GetImageDialogBox"
            android:exported="false" />
        <activity
            android:name=".activities.AddNewItemPage"
            android:exported="false" />
        <activity
            android:name=".activities.PersonalItemsDetailPage"
            android:exported="false" />
        <activity
            android:name=".activities.PublicItemsDetailPage"
            android:exported="false" />
        <activity
            android:name=".activities.PersonalItemsPage"
            android:exported="false" />
        <activity
            android:name=".activities.PublicItemsPage"
            android:exported="false" />
        <activity android:name=".activities.UserProfileHub"
            android:exported="false"/>
        <activity android:name=".activities.IncomingOffersPage"
            android:exported="false"
            />
        <activity
            android:name=".activities.ChooseTradeItemPage"
            android:exported="false" />
        <activity
            android:name=".activities.AdjustTradeMoneyPage"
            android:exported="false" />
        <activity
            android:name=".activities.ChatPage"
            android:exported="true" />
    </application>

</manifest>